<% unless devices.size == 0 %>
  <ul class="todo-list m-t small-list">
    <% devices.each do |device| %>
      <li>
        <%= link_to "<i class='fa fa-eye'></i>".html_safe, [@company, device] %>
        <span class="m-l-xs"><%= device.name %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul class="todo-list m-t small-list">
    <li>
      <span class="m-l-xs"><%= t('dont_have') %></span>
    </li>
  </ul>
<% end %>
