<% content_for :title, "PCM - #{t('companies')}" %>

<div class=" text-center loginscreen  animated fadeInDown">
  <div class="row">
    <div>
      <h1 class="logo-name">PCM</h1>
    </div>

    <div class="ibox">
      <div class="ibox-title text-center">
        <h3>
          <%= t('select_company') %>
        </h3>
        <h4>
          <%= t('select_company_text') %>
        </h4>
      </div>
      <div class="ibox-content text-center">
        <div class="row">

          <%= render @companies %>

        </div>
      </div>
    </div>
    <p class="m-t">
      <small>Copyright Landes S. A. &copy; 2016-2017 - PCM Software</small>
    </p>
  </div>
</div>
