<div class="ibox-title">
  <div class="m-b-md">
    <!-- <%= link_to(
      "<i class='fa fa-plus-square'></i> #{t('device_type_new')}".html_safe,
      new_company_device_type_path(@company),
      class: "btn btn-primary pull-right",
      remote: true
    )%> -->
    <h4>Sistemas</h4>
  </div>
</div>
<div class="ibox-content">
  <table id="table-systems" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
      </tr>
    </thead>
  </table>
</div> <!-- ibox-content table -->
