<% unless master_maintenance_plans.nil? or master_maintenance_plans.blank?  %>
  <ul class="todo-list m-t small-list">
    <% master_maintenance_plans.each do |master_maintenance_plan| %>
      <li>
        <strong>
          <%= link_to [@company, @device_type, master_maintenance_plan] do %>
            <span class='m-l-xs'>
              <%= master_maintenance_plan.subject %>
            </span>
          <% end %>
        </strong>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul class="todo-list m-t small-list">
    <li>
      <span class="m-l-xs"><%= t('dont_have') %></span>
    </li>
  </ul>
<% end %>
