<div class="modal inmodal" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
              <h4 id="modal-title" class="modal-title">Modal title</h4>
              <small id="modal-description"></small>
            </div>
            <div id="modal-body" class="modal-body">

            </div>
            <div id="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">
                  <%= t('close') %>
                </button>
            </div>
        </div>
    </div>
</div>
